@use "./base/reset";
@use "./components/helpers";
@use "./components/pagination";
@use "./utils/variables";

* {
    box-sizing: border-box;
}

body {
    @include helpers.flexStyle();
    direction: rtl;
    background: radial-gradient(circle at center, #667eea 0%, #764ba2 100%);
    min-height: 100vh;
}

input {
    border: none;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.4);
    border-radius: calc(variables.$border-radius - 6px);
    padding: 0.2rem 0.4rem;
    width: 100%;
}

#toast {
    display: none;
    width: 300px;
    background-color: variables.$danger-color;
    color: variables.$white-color;
    font-size: 1.2rem;
    position: fixed;
    right: 10px;
    top: 10px;
    padding: 5px 8px;
    border-radius: calc(variables.$border-radius - 4px);
}

.swal-footer {
    @include helpers.flexStyle();
}


///////////////// media ///////////////////

@media screen and (max-width:399px) {
    #toast {
        width: 200px;
        font-size: 1rem;
    }
}