$light-primary-color: #009797;
$primary-color: #00177c;
$dark-primary-color: #000b3a;
$danger-color: #7c0000;
$dark-danger-color: #3a0000;
$secondary-color: #11aa03;
$dark-secondary-color:#0a5c02;
$muted-gray-color: #666666;
$white-color: #ffffff;
$border-radius: 10px;